@model ControleDeCinema.WebApp.Models.EditarFilmeViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Editar Filme";
}
<div class="container">
    <form asp-action="Editar">
        <div class="col-md-6">
            <label class="control-label fw-semibold">Nome</label>
            <input type="text" class="form-control" asp-for="Titulo"/>
            <span class="text-danger my-1" asp-validation-for="Titulo"></span>
        </div>

        <div class="col-md-3">
            <label class="control-label fw-semibold">Duracao</label>
            <input type="text" class="form-control" asp-for="Duracao" id="time"/>
        </div>

        <div class="col-md-3">
            <label class="control-label fw-semibold">Genero</label>
            <input type="text" class="form-control" asp-for="Genero"/>
        </div>
        
        <button class="btn btn-primary col-md-3 mt-3">Gravar</button>
    </form>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#time').mask('00:00:00');
        })
    </script>
}
