@model ControleDeCinema.WebApp.Models.ExcluirFilmeViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Excluir Filme";
}

<div class="container">
        <h1 class="fs-3">Deseja excluir o Filme: <strong>@Model.Titulo</strong></h1>
        <form class="col-md-6 justfiy-content-center" asp-action="Excluir">
            <button class="btn btn-danger">
                <i class="bi bi-trash me-1"></i>
                Excluir
            </button>

            <a class="btn btn-dark bi bi-arrow-left" href="/filme/listar">Voltar</a>
        </form>
</div>

