@model IEnumerable<ControleDeCinema.WebApp.Models.ListarFilmeViewModel>

@{
    Layout = "_Layout";
    ViewBag.Title = "Listar Filmes";
}

<a class="btn btn-primary bi bi-plus" href="/filme/inserir">Inserir filme</a>

<div class="container d-flex">
    
    @foreach (var item in Model)
    {
        <div class="card col-md-3 m-3 ">
            <div class="card-body d-block">
                <div>
                    <h3 class="fs-5 fw-semibold">Titulo: @item.Titulo</h3>
                    <h3 class="fs-5 fw-semibold">Duracao: @item.Duracao</h3>
                    <h3 class="fs-5 fw-semibold">Genero: @item.Genero</h3>
                </div>

                <div>
                    <a class="btn btn-primary bi bi-pencil" href="/filme/editar/@item.Id"></a>
                    <a class="btn btn-danger bi bi-trash" href="/filme/excluir/@item.Id"></a>
                    <a class="btn btn-secondary bi bi-zoom-in" href="#"></a>
                </div>

            </div>
        </div>
    }
</div>